doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/trains/stylesheets/style.css')
  body
    block content
    script(src='https://www.google.com/jsapi')
    script(src='/trains/javascripts/graph.js')
    div(id='chart_div')