doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    block content
    script(src='https://www.google.com/jsapi')
    script(src='javascripts/graph.js')
    div(id='chart_div')